{% load django_bootstrap5 %} {% load static %}
<header class="d-flex justify-content-center py-3">
  {% with request.resolver_match.view_name as view_name%}
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a
        href="{% url 'homepage:index' %}"
        class="nav-link {% if view_name == 'homepage:index' %}active{% endif %}"
        aria-current="page"
        >Главная</a
      >
    </li>
    <li class="nav-item">
      <a
        href="{% url 'catalog:view_catalog' %}"
        class="nav-link {% if view_name == 'catalog:view_catalog' %}active{% endif %}"
        >Каталог</a
      >
    </li>
    <li class="nav-item">
      <a
        href="{% url 'order:order_info' %}"
        class="nav-link {% if view_name == 'order:order_info' %}active{% endif %}"
        >Доставка и оплата</a
      >
    </li>
    <li class="nav-item">
      <a
        href="{% url 'blog:news_feed' %}"
        class="nav-link {% if view_name == 'blog:news_feed' %}active{% endif %}"
        >О нас</a
      >
    </li>
    <li class="nav-item">
      <a
        href="{% url 'contact:view_contacts' %}"
        class="nav-link {% if view_name == 'contact:view_contacts' %}active{% endif %}"
        >Контакты</a
      >
    </li>
  </ul>
  {% endwith %}
</header>
